
.main
{
    border: solid 1px transparent;
    height: 1200px;
    width: 100%;
    position:absolute;
    margin-top: 0px;
    margin-left: 0px;
    background-image: url(./images/background.webp);
    background-size: contain;
}
.header
{
    border: solid 1px;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #210f0e97;
    
}
.navi
{
    border: solid 0px transparent;
    height: 100px;
    width: 80%;
}
.header img
{
    height:"60px";
     width:"280px";
     margin-left: 70px;
}

.a1
{
    height: 20px;
    width: 90px;
    color: white;
    margin-top: -13px;
    text-align: center;
    padding: 20px 40px 20px 0px; 
    
}
.a1:hover
{
      background-color: brown;
}
.a1 a
{
      color:aliceblue;
      text-decoration: none;
      font-size: 20px;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.a2
{
    height: 20px;
    width: 130px;
    margin-top: -13px;
    text-align: center;
    padding: 20px 0px 20px 0px; 
    font-size: 20px;
    
}
.a2:hover
{
      color: white;
      background-color: brown;
}
.dot
{
text-decoration: none;
color: transparent;
}

.navi ul
{
    margin: 10px;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;   
}
.middle
{
    height:400px ;
    width: 80%;
    display: flex;
    margin-top: 45px;
    padding-left: 300px;
}
.middle1
{
      height: 500px;
      width: 500px;
      text-align: center;
      margin-top: 60px;
}
h1
{
     
      color: white;
      font-size: 60px;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h2
{
     
      color: white;
      font-size: 30px;
      line-height: 50px;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;     
}
.button
{
      border: solid 1px transparent;
      height: 30px;
      width: 120px;
      background-color: black;
      color: white;
      text-decoration: none;
      
      
      padding: 12px 30px;
      font-size: 18px;
      
}
 .table table
{
      
      margin-left: 300px;
      height: 220px;
      width:900px ;
      margin-top: -15px;
      border-collapse: collapse;
}
table th
{
      height: 50px;
      background-color:rgba(0, 0, 0, 0.425);
      color: aliceblue;
      font-size: 20px;  
}

.mission
{

 height: 200px;
 width: 100%;
 margin-top: 810px;
 position:absolute;
left: 0px;
top: 0px;
text-align: center;
background-color: #630031;
}
p
{
      color: azure;
}
.BLOG
{
      
      height: 400px;
      width: 100%;
      margin-top: 1015px;
      position:absolute;
      left: 0px;
      top: -0.9%;
      background-color: black;
      display: flex;
      padding-left: 250px;
}
.latest
{
      
      height: 330px;
      width: 45%;
      font-size: 17px;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      
}
.div
{
     
      height: 120px;
      width: 438px;
      display: flex;
      justify-content: space-around;
      
}
.div h4{
      color: azure;
}
.footer
{
      margin-top: 140px;
      border: solid 0px transparent;
      height: 300px;
      width: 100%;
}
.footer1
{
      border: solid 0px transparent;
      display: flex;
      position: absolute;
      height: 80px;
      width: 100%;
      background-color:#a3a3a3;
      margin-top: 92%;
      margin-left: -0.5%;
      justify-content: center;
      
}
.footer1 h1
{
      font-size: 30px;
      font-family: 'Times New Roman', Times, serif;
      font-style: italic;
}
.footer1 img
{
     margin-top: 10px; 
     
     padding: 20px 30px;
}
.footnote
{
      border: solid 0px transparent;
      background-color: #ffffffb2;
      height: 70px;
      width: 100%;
      margin-top: 78%;
      margin-left: -0.6%;
      
}
.footnote p
{
      text-align: center;
      color: black;
      padding: 20px 20px;
      font-size: larger;
      font-family: 'Courier New', Courier, monospace;
      font-style: normal;
}

 
